function Sys.xor 0
push argument 0
push argument 1
or
push argument 0
push argument 1
and
not
and
return

function Sys.init 0
push constant 12 \\ 00000000 00001100
push constant 6 \\ 00000000 00000110
call Sys.xor 2 \\ 00000000 00001010 is at the top of the stack