function Sys.xor 0
push argument 0
push argument 1
or
push argument 0
push argument 1
and
not
and
return

function Sys.shiftLeft 0
pop local 0
pop local 1

push constant 0
pop local 2

label LOOP
push local 2
push local 1
lt
if-goto CONTINUE
goto END

label CONTINUE
push local 0
push constant 2
mul
pop local 0

push local 2
push constant 1
add
pop local 2

goto LOOP

label END
push local 0
return
